/**
 * Site header
 */
.site-header {
  border-top: 10px solid $brand-color;
  // border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}
.site-socials {
  line-height: 56px;
  display: inline-block;
  margin: 0px 20px;
  .icon {
    margin-left: 10px;
  }

  a {
    color: $brand-color;

    &:visited {
      color: $brand-color;
    }
    &:hover {
      text-decoration: none;
      color: $text-color;
    }
  }
  // .icon > svg {
  //     transition: fill 0.2s linear;
  //     width: 24px;
  //     height: 24px;
  //     &:hover > path{
  //         fill: $brand-color;
  //     }
  // }
}
.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }
  .page-link {
    display: inline-block;
    position: relative;
    z-index: 1;
    color: $text-color;
    line-height: $base-line-height;
    text-decoration: none;
    // Gaps between nav items, but not on the first one
    // &:not(:first-child) {
    margin-left: 20px;
    // }
    // padding: 0px 15px 0px 15px;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: -0.25em;
      right: -0.25em;
      background-color: $brand-color;
      transform-origin: center right;
      transform: scaleX(0);
      transition: transform 0.2s ease-in-out;
    }
    &:hover::before {
      transform: scaleX(1);
      transform-origin: center left;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
      margin: 0px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

@mixin underline {
  border-bottom: 2px solid currentColor;
}

.underline-purple {
  @include underline();
  border-bottom-color: $color-purple;
}
.underline-blue {
  @include underline();
  border-bottom-color: $color-blue;
}

.underline-red {
  @include underline();
  border-bottom-color: $color-red;
}
.underline-green {
  @include underline();
  border-bottom-color: $color-green;
}

.experiment1 {
  margin-top: 64px;
  margin-bottom: 64px;
  .dots-wrapper {
    -webkit-transform: translate3d(0,0,0);
    width: 48 * 10px;
    // height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .dot {
    -webkit-transform: translate3d(0,0,0);
    position: relative;
    box-sizing: border-box;
    // z-index: 5;
    width: 32px;
    height: 32px;
    margin: 8px;
    border: 1px solid currentColor;
    background-color: $background-color;
    border-radius: 50%;
  }
  .dots-shadow-wrapper {
    width: 48 * 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  
  .dot-shadow {
    position: relative;
    background-color: currentColor;
    // z-index: 1;
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 50%;
  }
  .controls {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }
  .circle-button {
    width: 32px;
    height: 12px;
    margin: 8px;
    background-color: currentColor;
    display: inline-block;
    // border-radius: 50%;
  }
}

.button {
  position: relative;
  z-index: 1;
  text-decoration: none !important;
  color: $text-color;
  margin-left: 0.3em;
  margin-right: 0.3em;
  &:visited {
    color: $text-color;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -0.25em;
    right: -0.25em;
    background-color: $brand-color;
    transform-origin: bottom center;
    transform: scaleY(0.1);
    transition: all 0.1s ease-in-out;
  }

  &:hover::before {
    transform: scaleY(1);
  }
  &.purple::before {
    background-color: $color-purple;
  }
  &.blue::before {
    background-color: $color-blue;
  }
  &.red::before {
    background-color: $color-red;
  }
  &.green::before {
    background-color: $color-green;
  }
}
