@charset "utf-8";


// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$title-font-family: 'Poppins', $base-font-family;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #333;
$background-color: #f4f4f4;
$brand-color:      #3a7fd3;

$color-purple: #8146d3;
$color-blue: #466ed3;
$color-red: #d3466c;
$color-green: #30975b;

$color-sea: #466681;
$color-sky: #CEE2D9;
$color-grass: #929965;
$color-sun: #E1B129;
$color-dusk: #EA805A;
$color-peach: #F4D8CD;

$grey-color:       #999;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import "_base";
@import "_layout";
@import "_syntax-highlighting";
@import "pages/home"