---
layout: default
permalink: /
---


<div class="content-container home">
  <h1>Hello World!</h1>
  {%- comment -%} <div class='home-links'>
    <a href="/about.html">about me</a>
    <a href="/work.html">work</a>
    <a href="/projects.html">projects</a>
  </div> {%- endcomment -%}

  {% capture bio %}
  {%- include text/bio.md -%}
  {% endcapture %}
  {{ bio | markdownify }}
</div>

<div class="about content-container">

  {% capture bio %}
  {%- include text/about.md -%}
  {% endcapture %}
  {{ bio | markdownify }}
</div>

<div class="projects content-container">
  {%- comment -%} {% include goback.html %} {%- endcomment -%}
  <h1 class="center">Projects</h1>

  {% for project in site.projects %}
  <div class="project">
    <p class="project-title">{{ project.title }}</p>
    <div class="project-description">
      {{project.excerpt | markdownify }}
    </div>
  </div>
  {% endfor %}
</div>

<div class="content-container center">
  <a class="button" href="/work.html">See my Past Experience</a>
  <a class="button" href="{{site.resume_url}}" target="_blank">View my Resume</a>
</div>

<div class="contact content-container center">
  <h1>Contact Me</h1>
  <p>leave your name & email and I'll be sure to get back to you soon.</p>


  <form name="contact-form" netlify>
    <textarea required name="message" placeholder="leave a message..."></textarea>
    <div>
      <input required type="text" name="name" placeholder="your name" />
      <input required type="email" name="email" placeholder="email" />
      <button type="submit">Send</button>
    </div>
  </form>
</div>

<div class="center" style="margin:10vh 0px;">🤠</div>
