<!-- Default Statcounter code for TalorAnderson.com http://taloranderson.com -->
<script type="text/javascript">
  var sc_project = 12122769;
  var sc_invisible = 1;
  var sc_security = "95efa5da";
  var sc_https = 1; 
</script>
<script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript>
  <div class="statcounter"><a title="Web Analytics Made Easy -
  StatCounter" href="https://statcounter.com/" target="_blank"><img class="statcounter"
        src="https://c.statcounter.com/12122769/0/95efa5da/1/" alt="Web Analytics Made Easy - StatCounter"></a></div>
</noscript>
<!-- End of Statcounter Code -->
<!-- <a href="https://statcounter.com/p12122769/?guest=1">View My Stats</a> -->
